<div class="new-user">
  <%=form_for(@user) do |user|%>
    <h3>Sign Up</h3>
    <div class='row'>
      <div class='form-group'>
        <div id='register-form' class='col-xs-12 col-sm-12 col-md-12'>
          <%=user.text_field :username, placeholder: 'Username' , class: 'form-control'%>
        </div>
        <div id='register-form'  class='col-xs-12 col-sm-12 col-md-12'>
          <%=user.text_field :email, placeholder: 'email' , class: 'form-control'%>
        </div>
        <div id='register-form'  class='col-xs-12 col-sm-12 col-md-12'>
          <%=user.password_field :password, placeholder: 'Password' , class: 'form-control'%>
        </div>
        <div id='register-form'  class='col-xs-12 col-sm-12 col-md-12'>
          <%=user.password_field :password_confirmation, placeholder: 'Password Confirmation' , class: 'form-control'%>
        </div>
        <div id='register-form'  class='col-xs-12 col-sm-12 col-md-12'>
          <%=user.submit 'Sign Up' , class: 'btn btn-primary btn-block'%>
        </div>
      </div>
    </div>
  <%end%>
</div>
