<div class='container'>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Record Library</a></li>
    <li><a data-toggle="tab" href="#menu1">Followers</a></li>
    <li><a data-toggle="tab" href="#menu2">Following</a></li>
    <li><a data-toggle="tab" href="#menu3">User</a></li>
    <% if current_user %>
      <li><%= link_to 'Your Conversations', conversations_path %></li>
    <%end%>
  </ul>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div class="tab-content">
    <div id="menu3" class="tab-pane fade">
      <div class="row">
        <div class="col-md-3">
          <table class="table table-sm table-dark">
            <tbody>
              <tr>
                <td>Username:</td>
                <td><%=@user.username%></td>
              </tr>
              <tr>
                <td>Email:</td>
                <td><%= @user.email%></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="row">
        <div class="col-md-4 col-md-offset-1 ">
          <h3>Following</h3>
          <table class="table table-sm table-dark">
            <tbody>
              <%@user.friendships.each do |friendship|%>
                <tr>
                  <td><%=friendship.friend.username%> </td>
                  <td><%=link_to "UnFollow", friendship ,:type=> "button",:class => "btn btn-danger", :method => :delete%></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <div class="row">
        <div class="col-md-2 col-md-offset-1 ">
          <h3>Followed by</h3>
          <table class="table table-sm table-dark">
            <tbody>
              <% @user.inverse_friends.each do |inverse_friend|%>
                <tr>
                  <td><%= inverse_friend.username%></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="home" class="tab-pane active ">
      <h1>Record Library</h1>
      <%if  current_user%>
        <%@user.albums.each do |album|%>
          <%= render 'albums/local_index', album: album%>
        <%end%>
      <%else%>
        <h3>Please log in</h3>
        <%=link_to 'Login',login_path%>
      <%end%>
    </div>
  </div>
</div>
