<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%unless album.blank?%>
      <%album.photos.each do |photo|%>
        <%= link_to album_path(album) do %>
          <%=image_tag photo.image , class:'imagesize'%>
        <%end%>
      <%end%>
    <%end%>
    <div class="caption">
      <h3><%=album.name%></h3>
      <p>
        <% if current_user%>
          <%if !current_user.albums.collect(&:id).include?(album.id)%>
            <%=link_to 'Add to library',record_libraries_path(:album_id => album), :class => 'btn btn-primary' , :method => :post%>
          <%else%>
            <%=link_to 'Remove from library', current_user.record_libraries.find {|x| x.album_id == album.id}, :class => 'btn btn-primary' , :method => :delete%>
          <%end%>
        <%end%>
      </p>
    </div>
  </div>
</div>
