<!-- /.carousel -->
<div  class='container'>
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h1>Music DB</h1>
    </div>
  </div>
  <div class='row'>
    <%= render 'admin/flash_messages'%>
    <%#=render 'categories/index_categories'%>
  </div>
  <div class="row">
    <%#=link_to 'Admin Dashboard',admin_dashboard_path%>
  </div>
  <div class="row">
    <%=render 'search/form'%>
  </div>
</div>
<div id="jumbotron-container" class="container">
  <div id="latest-jumbotron" class="jumbotron">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div id="latest-header-container" class="col-md-12">
        <h5>Newest Additions</h5>
      </div>
    </div>
    <!-- <div class="row"> -->
    <div class="owl-carousel owl-default">
      <% @latest_albums.each do |latest_album| %>
        <div>
          <div id="latest-subcol-container" class="col-md-12">
            <div class="row">
              <div id="latest-container" class="col-md-11">
                <%latest_album.photos.each do |photo|%>
                  <%= link_to album_path(latest_album) do %>
                    <%= image_tag photo.image ,class: "img-rounded center-div"%>
                  <%end%>
                <%end%>
              </div>
            </div>
            <div class="row">
              <div id="latest-caption-container" class="col-md-11">
                <%= link_to album_path(latest_album) do %>
                  <%= latest_album.name%>
                <%end%>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col-lg-4 -->
      <%end%>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- /.row -->
<!-- START THE FEATURETTES -->
<div class="container">
  <div class="row">
    <%@albums.each do |album|%>
      <%= render 'albums/local_index' ,album: album%>
    <%end%>
  </div>
  <%if @bands%>
    <h2>Bands/Artists</h2>
    <ul class="list-group">
      <%@bands.each do |band|%>
        <%=render 'bands/local_index', band: band%>
      <%end%>
    </ul>
  <%end%>
  <% unless @albums.is_a? Array%>
    <div class="center-div">
      <div class="digg_pagination">
        <%= will_paginate @albums , :previous_label => '<', :next_label => '>' %>
      </div>
    <%end%>
  </div>
</div>
