<div class='container'>
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h1>Music DB</h1>
    </div>
  </div>
  <div class='row'>
    <%= render 'admin/flash_messages'%>
    <%#=render 'categories/index_categories'%>
  </div>
  <div class="row">
    <%#=link_to 'Admin Dashboard',admin_dashboard_path%>
  </div>
  <div class="row">
    <%=render 'search/form'%>
  </div>
  <div class="row">
    <%@albums.each do |album|%>
      <%=render 'albums/local_index' , album: album%>
    <%end%>
  </div>
  <%if @bands%>
    <h2>Bands/Artists</h2>
    <ul class="list-group">
      <%@bands.each do |band|%>
        <%=render 'bands/local_index', band: band%>
      <%end%>
    </ul>
  <%end%>
  <% unless @albums.is_a? Array%>
    <div class="center-div">
      <div class="digg_pagination">
        <%= will_paginate @albums , :previous_label => '<', :next_label => '>' %>
      </div>
    </div>
  <%end%>
</div>
