<div class="container">
  <div class="row">
    <div id="album-image" class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <%=image_tag  @photo , class:'imagesize-album-show'%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h5>Band</h5>
          <%= link_to band_path(@band) do %>
            <%=@band.name%>
          <%end%>
        </div>
        <div id="album-show-add-btn"class="col-md-6">
          <% if current_user%>
            <%if !current_user.albums.collect(&:id).include?(@album.id)%>
              <%=link_to 'Add to library',record_libraries_path(:album_id => @album), :class => 'btn btn-primary' , :method => :post%>
            <%else%>
              <%=link_to 'Remove from library',RecordLibrary.find_by(user_id: current_user.id,album_id: @album.id), :class => 'btn btn-primary' , :method => :delete%>
            <%end%>
          <%end%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>Members</h5>
          <%@artists.each do |artist|%>
            <%=link_to artist_path(artist) do %>
              <%=artist.name%><span> , </span>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <h5>Category:
            <span class="colorh5"><%=@category_name%></h5>
          </span>
        </li>
        <li class="list-group-item">
          <h3><%=@album.name%></h3>
        </li>
        <% @songs.each do |song|%>
          <li class="list-group-item">
            <%=song.name%>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
