<div class='container'>
  <div id="category-row" class="row">
    <% if !@root_categories.first.nil?%>
      <div id='category-col' class="col-md-3 col-md-offset-1">
        <h4>Root Categories</h4>
        <ul>
          <%@root_categories.each do |f|%>
            <li>
              <%=f.name%>
            </li>
          <%end%>
        </ul>
      </div>
      <div id='category-col' class="col-md-3 col-md-offset-1">
        <h4>Child Categories</h4>
        <ul>
          <%@child_categories.each do |r|%>
            <!--DEPTH = 1 -->
            <li>
              <%=r.parent.name%> >
              <%=r.name%>
            </li>
          <%end%>
        </ul>
      </div>
      <div id='category-col' class="col-md-3 col-md-offset-1">
        <h4>Grandchild Categories</h4>
        <ul>
          <% @grand_child_categories.each do |r|%>
            <!--DEPTH = 2 -->
            <li>
              <%=r.parent.name%> >
              <%=r.name%>
            </li>
          <%end%>
        </ul>
      </div>
    <%end%>
  </div>
</div>
