<div class='container'>
  <h1>Category Creation</h1>
  <%=form_for [:admin, @category] do |category|%>
    <div id='category-form' class='col-xs-12 col-sm-12 col-md-12'>
      <%=category.text_field :name, placeholder: 'Category name' , class: 'form-control'%>
    </div>
    <div id='category-form' class='col-xs-12 col-sm-12 col-md-12'>
      <%= category.label 'Choose Parent'%>
      <%= category.select :parent_id, shallow_categories_for_select, {include_blank:true , include_hidden:false}  , class: 'select2 form-control'%>
    </div>
    <div id='category-form'  class='col-xs-12 col-sm-12 col-md-12'>
      <%=category.submit 'Create category', class: 'btn btn-primary btn-block'%>
    </div>
  <%end%>
</div>
<%=render 'categories/index_categories'%>
