<p id="notice"><%= notice %></p>

<h1>Record Libraries</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Album</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @record_libraries.each do |record_library| %>
      <tr>
        <td><%= record_library.user %></td>
        <td><%= record_library.album %></td>
        <td><%= link_to 'Show', record_library %></td>
        <td><%= link_to 'Edit', edit_record_library_path(record_library) %></td>
        <td><%= link_to 'Destroy', record_library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record Library', new_record_library_path %>
