<div class='container'>
  <div class='row'>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%=render 'categories/index_categories'%>
  </div>
  <div class="row">
    <%=link_to 'Admin Dashboard',admin_dashboard_path%>
  </div>
  <div class="row">
    <%Album.all.each do |album|%>
      <%=album.name%>
      <%album.photos.each do |photo|%>
        <%=image_tag photo.image(:medium)%>
      <%end%>
      <%=link_to Artist.find(album.artist_id).firstname, artist_path(album.artist_id)%>
      <%=link_to Artist.find(album.artist_id).lastname, artist_path(album.artist_id)%>
    <%end%>
  </div>
</div>
