<div class='container'>
  <div class='row'>
    <%= render 'admin/flash_messages'%>
    <%=render 'categories/index_categories'%>
  </div>
  <div class="row">
    <%=link_to 'Admin Dashboard',admin_dashboard_path%>
  </div>
  <div class="row">
    <%Album.all.each do |album|%>
      <%=album.name%>
      <%album.photos.each do |photo|%>
        <%=image_tag photo.image(:medium)%>
      <%end%>
      <% if !album.artist_id.nil?%>
        <li>
          <%= Artist.find(album.artist_id).firstname%>
        </li>
      <%end%>
    <%end%>
  </div>
</div>
