<div class='container'>
  <div class='row'>
    <%= render 'admin/flash_messages'%>
    <%=render 'categories/index_categories'%>
  </div>
  <div class="row">
    <%=link_to 'Admin Dashboard',admin_dashboard_path%>
  </div>
  <div class="row">
    <%=render 'search/form'%>
  </div>
  <div class="row">
    <% @albums.each do |album|%>
      <%=render 'albums/local_index' , album: album%>
    <%end%>
  </div>
  <%@bands.each do |band|%>
    <%=band.name%>
  <%end%>
</div>
